<form class="modal">
	<h2>How many armies?</h2>
	<p>Min: {{min}}, max: {{max}}</p>
	<input type="number" min="{{min}}" max="{{max}}" value="{{min}}" class="army-count" required>
	<button type="submit" class="select-button">Select</button>
	<button type="button" class="cancel-button">Cancel</button>
</form>
